{% strip %}
{% comment %} Create breadcrumb stating with the site home, the page collection home, and page hierarchy in the collection TOC {% endcomment %}

{% comment %} Get the page collection metadata {% endcomment %}
{% assign pagePathArray = page.path | split: '/' %}
{% assign collectionLabel = pagePathArray[0] | remove_first: "_" %}
{% for c in site.collections %}
    {% if c.label == collectionLabel %}
        {% assign collectionName = c.name %}
        {% assign collectionHome = c.home %}
        {% assign collectionOutput = c.output %}
        {% assign collectionToc = c.toc %}
        {% assign entries = site.data["tocs"][collectionLabel]['entries'] %}
        {% comment %} <p>collectionLabel: {{ collectionLabel }}</p>
        <p>collectionName: {{ collectionName }}</p>
        <p>collectionHome: {{ collectionHome }}</p>
        <p>collectionOutput: {{ collectionOutput }}</p>
        <p>collectionToc: {{ collectionToc }}</p>
        <p>entries: {{ entries }}</p> {% endcomment %}
    {% endif%}
{% endfor %}

<div id="content-breadcrumb">
    <ul>
        {% comment %} Breadcrumb home item {% endcomment %}
        <li><a href="{{ site.baseurl }}{{ site.home_topic_url }}" class="breadcrumbHome" ><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {% comment %} Breadcrumb collection item {% endcomment %}
        <li><a href="{{ site.baseurl }}{{ collectionHome }}" class="breadcrumbSeparator" data-collection-label="{{ collectionLabel }}">{{ collectionName }}</a></li>
        
        {% comment %} Breadcrumb TOC items {% endcomment %}
        {% if collectionToc %}
            {% comment %} If collection has TOC, get page TOC indices from the PageTocIndices plugin into a string array {% endcomment %}
            {% capture iTocStr %}{% PageTocIndices %}{% endcapture %}
            {% assign iTocArray = iTocStr | remove: '[' | remove: ']' | remove: ' ' | split: ',' %}
            {% assign max = iTocArray.size | minus: 1  %}
            {% comment %} <p>Page TOC indices: {% PageTocIndices %}</p>
            <p>iTocStr: {{ iTocStr }}</p>
            <p>iTocArray: {{ iTocArray }}</p>
            <p>max: {{ max }}</p> {% endcomment %}

            {% comment %} <p>m0: {{ m0 }}</p> {% endcomment %}
            {% for n in (0..max ) %}
                {% if n == 0 %}
                    {% assign m0 = iTocArray[0] | times: 1 %}
                    <li><a href="{{ entries.[m0].path }}" class="breadcrumbSeparator" >{{ entries.[m0].title }}</a></li>   
                {% elsif n == 1 %}
                    {% assign m1 = iTocArray[1] | times: 1 %}
                    <li><a href="{{ entries.[m0]["subentries"][m1].path }}" class="breadcrumbSeparator" >{{ entries.[m0]["subentries"][m1].title }}</a></li>   
                {% elsif n == 2 %}
                    {% assign m2 = iTocArray[2] | times: 1 %}
                    <li><a href="{{ entries.[m0]["subentries"][m1]["subentries"][m2].path }}" class="breadcrumbSeparator" >{{ entries.[m0]["subentries"][m1]["subentries"][m2].title }}</a></li>   
                {% elsif n == 3 %}
                    {% assign m3 = iTocArray[3] | times: 1 %}
                    <li><a href="{{ entries.[m0]["subentries"][m1]["subentries"][m2]["subentries"][m3].path }}" class="breadcrumbSeparator" >{{ entries.[m0]["subentries"][m1]["subentries"][m2]["subentries"][m3].title }}</a></li>   
                {% elsif n == 4 %}
                    {% assign m4 = iTocArray[4] | times: 1 %}
                    <li><a href="{{ entries.[m0]["subentries"][m1]["subentries"][m2]["subentries"][m3]["subentries"][m4].path }}" class="breadcrumbSeparator" >{{ entries.[m0]["subentries"][m1]["subentries"][m2]["subentries"][m3]["subentries"][m4].title }}</a></li>   
                {% elsif n == 5 %}
                    {% assign m5 = iTocArray[5] | times: 1 %}
                    <li><a href="{{ entries.[m0]["subentries"][m1]["subentries"][m2]["subentries"][m3]["subentries"][m4]["subentries"][m5].path }}" class="breadcrumbSeparator" >{{ entries.[m0]["subentries"][m1]["subentries"][m2]["subentries"][m3]["subentries"][m4]["subentries"][m5].title }}</a></li>   
                {% endif %}
            {% endfor %}
        {% endif %}
        
    </ul>
</div>
{% endstrip %}