{% comment %} Get the page collection metadata and TOC descendents 
    Required for:
    - breadcrumb-home-collection-toc.liquid
    - toc...

{% endcomment %}
{% assign pagePathArray = page.path | split: '/' %}
{% assign collectionLabel = pagePathArray[0] | remove_first: "_" %}
{% for c in site.collections %}
    {% if c.label == collectionLabel %}
        {% assign collectionName = c.name %}
        {% assign collectionHome = c.home %}
        {% assign collectionOutput = c.output %}
        {% assign collectionToc = c.toc %}
        {% assign collectionEntries = site.data["tocs"][collectionLabel]['entries'] %}
        {% comment %} <p>collectionLabel: {{ collectionLabel }}</p>
        <p>collectionName: {{ collectionName }}</p>
        <p>collectionHome: {{ collectionHome }}</p>
        <p>collectionOutput: {{ collectionOutput }}</p>
        <p>collectionToc: {{ collectionToc }}</p>
        <p>collectionEntries: {{ collectionEntries }}</p> {% endcomment %}
    {% endif%}
    {% if collectionToc %}
        {% comment %} Get page TOC indices from the PageTocIndices plugin into a string array {% endcomment %}
        {% capture iTocStr %}{% PageTocIndices %}{% endcapture %}
        {% comment %} Convert captured plugin string into a string array {% endcomment %}
        {% assign iTocArray = iTocStr | remove: '[' | remove: ']' | remove: ' ' | split: ',' %}
        {% comment %} Get the number of array items as an integer {% endcomment %}
        {% assign iTocArraySize = iTocArray.size %}
    {% endif %}
{% endfor %}